<form>
  <div class="row">
    <div class="col-8 m-auto">
      <div class="mb-3">
        <label for="name">Nome:</label>
        <input class="form-control" type="text" id="name">
        <div class="text-danger text-start">
          <small><sup>*</sup>Nome Obrigatório</small>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label for="phone">Telefone:</label>
            <input class="form-control" type="text" id="phone">
            <div class="text-danger text-start">
              <small><sup>*</sup>Telefone Obrigatório</small>
            </div>
        </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label for="date">Data de nascimento:</label>
            <input class="form-control" type="text" id="date">
            <div class="text-danger text-start">
              <small><sup>*</sup>Data de nascimento Obrigatório</small>
            </div>
          </div>
        </div>
        <div class="mb-3 text-end">
          <a href="/prototype/pages/clients.html" class="btn btn-secondary me-1">Cancelar</a>
          <a href="#" class="btn btn-primary">Salvar</a>
        </div>

      </div>
  </div>
</form>