<form>
  <div class="row">
    <div class="col-8 m-auto">
      <div class="mb-3">
        <label for="name">Nome:</label>
        <input class="form-control" type="text" id="name">
        <div class="text-danger text-start">
          <small><sup>*</sup>Nome Obrigatório</small>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="mt-4">
            <label for="date">Ativo:</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">Sim</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">Não</label>
            </div>
            <div class="text-danger text-start">
              <small><sup>*</sup>Ativo Obrigatório</small>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label for="phone">Telefone:</label>
            <input class="form-control" type="text" id="phone">
            <div class="text-danger text-start">
              <small><sup>*</sup>Telefone Obrigatório</small>
            </div>
        </div>
        </div>
        <div class="mb-3 text-end">
          <a href="/prototype/pages/professionals.html" class="btn btn-secondary me-1">Cancelar</a>
          <a href="#" class="btn btn-primary">Salvar</a>
        </div>

      </div>
  </div>
</form>