<form>
  <div class="row">
    <div class="col-8 m-auto">
      <div class="mb-3">
        <label for="name">Tipo:</label>
        <input class="form-control" type="text" id="name">
        <div class="text-danger text-start">
          <small><sup>*</sup>Tipo Obrigatório</small>
        </div>
      </div>
      <div class="mb-3 text-end">
        <a href="/prototype/pages/appointmentTypes.html" class="btn btn-secondary me-1">Cancelar</a>
        <a href="#" class="btn btn-primary">Salvar</a>
      </div>
  </div>
</form>